<h1><%= @artist.name %></h1>

<%= image_tag @artist.image, :class => 'thumb' if @artist.image.present? %>

    <ul>
        <li>Country: <%= @artist.country %></li>
            <% if @artist.start.present? && @artist.end.present? %>
        <li>Years active: <%= @artist.start.strftime '%Y' %> - 
        <% if @artist.end < Time.now %>
            <%= @artist.end.strftime '%Y' %></li>
        <% elsif @artist.end > Time.now %>
            Present
            <% end %>
            <% end %>
        <li>Members: <%= @artist.members %></li>
        <li>Information: <%= link_to @artist.info %></li>
        <li>Genres: 
            <% @artist.genres.each do |genre| %>
            | <%= genre.name %> | 
        <% end %>
    </ul>

    <h2>Albums</h2>
    <div class="gallery">
    <% @artist.albums.each do |album| %>
        <%= link_to image_tag(album.image, :class =>'thumb'), album %>
    <% end %>
    </div>
 <hr>
<div class="controls">
    <% if @current_user.present? %>
        <%= link_to 'Edit Artist', edit_artist_path(@artist) %>
        <%= link_to 'Delete Artist', @artist, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
        <%= link_to "Add to favourites", "/artists/#{params[:id]}/add_favourite", method: :post %>
        <%= link_to "Remove from favourites", "/artists/#{params[:id]}/favourite", method: :delete %>
    <% end %>
</div>
