<h1><%= @song.title %></h1>

    <ul>
        <li>Title: <%= @song.title %></li>
        <li>Artist: <%= link_to @song.artist.name, @song.artist %></li>
        <% if @song.album.present?%>
            <li>Album: <%= link_to @song.album.title, @song.album %></li>
        <% end %>
        <% if @song.length.present?%>
            <li>Length: <%= @song.length.strftime '%H:%M:%S' %></li>
        <% end %>
        <% if @song.video.present?%>
        <li><%= video_path( @song.video ) %></li>
        <% end %>
        <li>Genres: 
        <% @song.genres.each do |genre| %>
            | <%= genre.name %> | 
        <% end %>
        </li>
    </ul>
    
<div class="controls">
    <%= link_to 'Edit song', edit_song_path(@song) %>
    <%= link_to 'Delete song', @song, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
