<h1><%= @song.title %></h1>

    <ul>
        <li>Title: <%= @song.title %></li>
        <li>Artist: <%= link_to @song.artist.name, @song.artist %></li>
        <li>Album: <%= link_to @song.album.title, @song.album %></li>
        <li>Length: <%= @song.length %></li>
        <li><%= video_path( @song.video ) %></li>
    </ul>
    
<div class="controls">
    <%= link_to 'Edit song', edit_song_path(@song) %>
    <%= link_to 'Delete song', @song, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
