<h1><%= @song.title %></h1>

    <ul>
        <li>Title: <%= @song.title %></li>
        <% if @song.album.present? %>
            <li>Artist: <%= link_to @song.artist.name, @song.artist%></li>
        <% end %>
        <% if @song.album.present? %>
            <li>Album: <%= link_to @song.album.title, @song.album%></li>
        <% end %>
        <% if @song.length.present?%>
            <li>Length: <%= @song.length.strftime '%H:%M:%S' %></li>
        <% end %>
        <% if @song.video.present?%>
        <li><%= @song.video %></li>
        <% end %>
        <li>Genres: 
        <% @song.genres.each do |genre| %>
            | <%= genre.name %> | 
        <% end %>
        </li>
    </ul>
    
<div class="controls">
    <%= link_to 'Edit song', edit_song_path(@song) %>
    <%= link_to 'Delete song', @song, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
    <% if @current_user.present? %>
        <% @current_user.favourite_songs.each do |fs| %>
            <% if fs.song_id == "#{params[:id]}".to_i %>
                <%= link_to "Remove from favourites", "/songs/#{params[:id]}/favourite", method: :delete %>
                <%# <% @fav = true %>
                <% end %>
            <%# <% if @fav != true %> %>
                <%# <%= link_to "Add to favourites", "/songs/#{params[:id]}/add_favourite", method: :post %> %>
            <%# <% end %> %>
        <% end %>
    <% end %>
</div>
