<h1><%= @album.title %></h1>

<%= image_tag @album.image, :class => 'feature' %>

<ul>
    <li>Title: <%= @album.title %></li>
    <% if @album.artists.any? %>
    <li>Artist: <%= link_to @album.artists.first.name, @album.artists.first %></li>
    <% end %>
    <% if @album.date.present? %>
    <li>Release date: <%= @album.date.strftime '%e %B, %Y' %></li>
    <% end %>
    <% if @album.length.present?%>
    <li>Length: <%= @album.length.strftime '%H:%M:%S' %></li>
    <% end %>
    <li>Tracks: <%= @album.tracks %></li>
    <li>Genres: 
        <% @album.genres.each do |genre| %>
        | <%= genre.name %> | 
    <% end %>
</ul>

<div class="controls">
    <%= link_to 'Edit album', edit_album_path(@album) %>
    <%= link_to 'Delete album', @album, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>