<!DOCTYPE html>
<html>
  <head>
    <title>Geezer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/assets/big_yoshi_fav.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <nav>
      <%= link_to 'Home', root_path %>
      |
        <div class="dropdown">
            <button class="dropbtn"><%= link_to 'Artists', artists_path, class: 'nav' %></button>
              <div class="dropdown-content">
                <%= link_to 'New Artist', new_artist_path %>
            </div>
        </div>
      |
      <div class="dropdown">
            <button class="dropbtn"><%= link_to 'Albums', albums_path, class: 'nav' %></button>
              <div class="dropdown-content">
                <%= link_to 'New Album', new_album_path %>
            </div>
        </div>
      |
      <div class="dropdown">
            <button class="dropbtn"><%= link_to 'Genres', genres_path, class: 'nav' %></button>
              <div class="dropdown-content">
            </div>
        </div>
      |
      <div class="dropdown">
            <button class="dropbtn"><%= link_to 'Songs', songs_path, class: 'nav' %></button>
              <div class="dropdown-content">
                <%= link_to 'New Song', new_song_path %>
            </div>
        </div>
      |
      <% if @current_user.present? %>
      <div class="dropdown">
            <button class="dropbtn">Favourites</button>
              <div class="dropdown-content">
                <%= link_to 'Favourite Albums', favourite_albums_path %>
                <%= link_to 'Favourite Artists', favourite_artists_path %>
                <%= link_to 'Favourite Songs', favourite_songs_path %>
            </div>
        </div>
        |
        <% end %>
      <%= link_to 'Premium', premium_path %>
      |
      <% if @current_user.present? %>
        <% if @current_user.admin? %>
          <%= link_to "All users", users_path %>
        <% end %>
        <%= link_to "Sign out #{ @current_user.email }", login_path, :method => 'delete' %>
      <% else %>
        <%= link_to 'Sign up', new_user_path %>
        <%= link_to 'Sign in', login_path %>
      <% end %>
    </nav>

      <%= yield %>

    <footer>
      <p>Background wallpapers by <%= link_to 'Leif Podhajsky', "https://leifpodhajsky.com/" %></p>
    </footer>
    </div>
  </body>
</html>
